*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #031f1c;

}
header{
    display: flex;
    justify-content: space-between;   
    background-color:#d8e0cb ;
}
.greenWork{
    display: flex;
    justify-content: space-between;   
    height: 100vh;
    background-color:#d8e0cb ;
}
.nav{
    position:fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #d8e0cb;
    z-index: 100;

}
.titre{
    margin-top: 50px;
    margin-left: 50px;
    border-left: 10px solid #38524f;
    padding-left: 10px;
}
.marge{
    margin-left: 15px;
}
.titre a{
    display: flex;
    flex-direction: column;
    color :#38524f;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
}

.menu{
    display: flex;
    margin-top: 65px;
    margin-right: 70px;
    border-bottom: 2px solid #38524f;

}
.menu a{
    text-decoration: none;
    color:#38524f ;
    font-size:large ;
    margin-right: 15px;
} 
.menu a:hover{
    text-decoration: underline;
    font-size:150% ;
}
#acceuil{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../IMG/img1.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
.barreNav{
    background-color: #d8e0cb;
    width: 100%;
    height: 135px;
    z-index: -1;
}
.description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 11%;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    padding: 15px;
    color: #d8e0cb;
    font-size:x-large;
    background-color: rgba(22, 32, 31, 0.7);
    width: 25%;
    height: 400px;
    transition: all 100ms linear;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 350px;
    height: 200px;
}

